@use '../abstracts/' as *;

.container {
    max-width: var(--width, 1200px);
    padding-inline: 15px;
    margin-inline: auto;
}

.even-columns {
    display: grid;
    align-items: center;

    @include mq('tablet') {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
